
{% if customer %}
<div class="page-header">
	<h3 class="text-uppercase">MY ORDERS</h3>
</div>

<a href="javascript:;" onclick="jQuery('#modal-1').modal('show');" class="btn btn-default pull-right">NEW ORDER</a>


<!-- Modal 1 (Basic)-->
<div class="modal fade" id="modal-1">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Select a template</h4>
			</div>
			
			<div class="modal-body">
		        <table class="table table-hover">
		        	<thead>
		        		<tr>
		        			<th>Template name</th>
		        			<th class="hidden-xs">Last used</th>
		        			<th>Times used</th>
		        			<th></th>
		        		</tr>
		        	</thead>
		        	<tbody>
		        	
		        	
		        			
			       
		        		
		        		
		        		<tr>
		        			<td>My template 1</td>
		        			<td class="hidden-xs">30 May 2016</td>
		        			<td>5</td>
		        			<td>
		        				<%= link_to '<div class="btn btn-blue btn-sm"></i> SELECT</div>'.html_safe, dashboard_path %> 
			        			<div class="btn-group">
		            				<a href="#" data-toggle="dropdown">
		            					Options <span class="caret"></span>
		            				</a>
		            				<ul class="dropdown-menu dropdown-primary" role="menu">
		            					<li><a href="#">Rename</a>
		            					</li>
		            					<li class="divider"></li>
		            					<li><a href="#">Delete</a>
		            					</li>
		            				</ul>
	            				</div>
            				</td>
		        		</tr>
		        		<tr>
		        			<td>My template 1</td>
		        			<td class="hidden-xs">30 May 2016</td>
		        			<td>5</td>
		        			<td>
		        				<%= link_to '<div class="btn btn-blue btn-sm"></i> SELECT</div>'.html_safe, dashboard_path %> 
			        			<div class="btn-group">
		            				<a href="#" data-toggle="dropdown">
		            					Options <span class="caret"></span>
		            				</a>
		            				<ul class="dropdown-menu dropdown-primary" role="menu">
		            					<li><a href="#">Rename</a>
		            					</li>
		            					<li class="divider"></li>
		            					<li><a href="#">Delete</a>
		            					</li>
		            				</ul>
	            				</div>
            				</td>
		        		</tr>
		        	</tbody>
		        </table>
			</div>
			
			<div class="modal-footer">
				<p class="text-center">Can't find a template? You can create templates based on previous orders in 2 easy steps! Look for the Options menu on the order you want to choose and click "Save as template".</p>
				<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		</div>
	</div>
</div>
	

	
<div class="row">
	<div class="col-md-12">
		{% paginate customer.orders by 2 %}
			{% if customer.orders.size != 0 %}
		        <table class="table table-striped">
			        	<thead>
			        		<tr>
			        			<th>Order No.</th>
			        			<th class="hidden-xs">Order date</th>
			        			<th class="hidden-xs">Quantity</th>
			        			<th>Status</th>
			        			<th></th>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		
			        	<% @customerorders.each do |order| %>
			        		<tr>
			        			<td data-label=""><%= order.name %></td>
			        			<td data-label="">
			        			<%= order.created_at.to_datetime.strftime(' %b %d %Y') %>
			        			</td>
			        			<td class="hidden-xs"></td>
			        			<td data-label=""><div class="label label-info"></div></td>
			        			<td>
			            			<div class="btn-group">
			            				<button type="button" class="btn btn-blue btn-sm dropdown-toggle" data-toggle="dropdown">
			            					<span class="glyphicon glyphicon-envelope"></span> Options <span class="caret"></span>
			            				</button>
			            				<!--<a href="#" data-toggle="dropdown">
			            					Options <span class="caret"></span>
			            				</a>-->
			            				<ul class="dropdown-menu dropdown-primary" role="menu">
			            					<li><a href="#">Save as template</a>
			            					</li>
			            					<li class="divider"></li>
			            					<li><a href="#">Download</a>
			            					</li>
			            					<li class="divider"></li>
			            					<li><a href="#">Upload</a>
			            					</li>
			            				</ul>
			            			</div>
			        			</td>
			        		</tr>
						
						<% end %>
						
						{% for order in customer.orders %}
			        		<tr>
			        			<td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
			        			<td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
			        			<td class="hidden-xs"></td>
			        			<td data-label="{{ 'customer.orders.fulfillment_status' | t }}"><div class="label label-info">{{ order.fulfillment_status_label }}</div></td>
			        			<td>
			            			<div class="btn-group">
			            				<button type="button" class="btn btn-blue btn-sm dropdown-toggle" data-toggle="dropdown">
			            					<span class="glyphicon glyphicon-envelope"></span> Options <span class="caret"></span>
			            				</button>
			            				<!--<a href="#" data-toggle="dropdown">
			            					Options <span class="caret"></span>
			            				</a>-->
			            				<ul class="dropdown-menu dropdown-primary" role="menu">
			            					<li><a href="#">Save as template</a>
			            					</li>
			            					<li class="divider"></li>
			            					<li><a href="#">Download</a>
			            					</li>
			            					<li class="divider"></li>
			            					<li><a href="#">Upload</a>
			            					</li>
			            				</ul>
			            			</div>
			        			</td>
			        		</tr>
			        		{% endfor %}
			        	</tbody>
			        </table>
		    {% else %}
	
	      	<p>{{ 'customer.orders.none' | t }}</p>
	
	    	{% endif %}
	
			<ul class="pager pull-left">
				{% if paginate.previous.is_link %}
				    <li><a href="{{ paginate.previous.url }}"><i class="entypo-left-thin"></i> {{ paginate.previous.title }}</a></li>
				{% endif %}
				{% if paginate.next.is_link %}
				    <li><a href="{{ paginate.next.url }}">{{ paginate.next.title }} <i class="entypo-right-thin"></i></a></li>
				{% endif %}
			</ul>
		{% endpaginate %}
    </div>
</div>
{% else %}
	<script>window.location.href = '/account/login';</script>
{% endif %}