
{% if customer %}

{% for order in customer.orders %}
    {% if order.customer_url contains '<%= params[:token] %>' %}
      {% assign corder = order %}
    {% endif %}
{% endfor %}
<div class="page-header">
	<h3 class="text-uppercase">ORDER {{ corder.name }}</h3>
	<% if @msg == 'thankyou' %>
	    <h3>Thank you {{customer.name}}!</h3>
    	<div class="alert alert-success">
    	    <h4>Your order has been submitted.</h4>
    	    We will assess your order and get on with it as soon as possible.
    	</div>
	<% end %>
</div>

<div class="invoice">

	<div class="row">

		<div class="col-sm-12 invoice-left">
			<h4>Date: {{ corder.created_at | date: "%d %B, %Y" }}</h4>
			<h4>Status: <span class="badge badge-info">{{ corder.fulfillment_status | camelcase }}</span></h4>
		</div>

	</div>

	<div class="margin"></div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="text-center">#</th>
				<th width="50%">Service</th>
				<th>Unit price</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
		</thead>

		<tbody>
			<span style="display: none;">{% increment no %}</span>
		    {% for line_item in corder.line_items %}
                <tr>
					<td class="text-center">{% increment no %}</td>
					<td>{{ line_item.title }}</td>
					<td class="text-right">{{ line_item.price | money }}</td>
					<td class="text-right">{{ line_item.quantity }}</td>
					<td class="text-right">{{ line_item.line_price | money }}</td>
				</tr>
            {% endfor %}
		</tbody>
	</table>

	<div class="margin"></div>

	<div class="row">

		<div class="col-sm-6">

			<div class="invoice-left">

				<h4>SERVICE CONFIGURATION</h4>

				{% if corder.attributes %}
    				<ul class="list-unstyled">
    				    {% if corder.attributes.return_file_format %}
        					<li>
        						Return file format: {{ corder.attributes.return_file_format }}
        					</li>
    					{% endif %}
    					{% if corder.attributes.set_margin %}
        					<li>
        						Set margin: {{ corder.attributes.set_margin }}
        					</li>
    					{% endif %}
    					{% if corder.attributes.resize_image %}
        					<li>
        						Resize image: {{ corder.attributes.resize_image }}
        					</li>
        					{% if corder.attributes.resize_image == 'true' %}
	        					{% if corder.attributes.image_width %}
		        					<li>
		        						Image width: {{ corder.attributes.image_width }}px
		        					</li>
		    					{% endif %}
		    					{% if corder.attributes.image_height %}
		        					<li>
		        						Image height: {{ corder.attributes.image_height }}px
		        					</li>
		    					{% endif %}
	    					{% endif %}
    					{% endif %}
    					{% if corder.attributes.message %}
        					<li>
        						Message: {{ corder.attributes.message }}
        					</li>
    					{% endif %}
    					{% if corder.attributes.additional_comment %}
        					<li>
        						Additional comment: {{ corder.attributes.additional_comment }}
        					</li>
    					{% endif %}
    				</ul>

				{% else %}
				    <p>None!</p>
				{% endif %}

			</div>

		</div>

		<div class="col-sm-6">

			<div class="invoice-right">

				<ul class="list-unstyled">
					<!-- Show discount only if discount value is > 0 -->
					 {% assign total_discount = 0 %}
				     {% for discount in Corder.discounts %}
                        {% capture total_discount %}
                            {{ total_discount | plus: discount.saving }}
                        {% endcapture %}
                     {% endfor %}

                    {% if total_discount == 0 and corder.tax_price == 0 %}
                        <li>
    						<h4>Total: {{ corder.total_price | money }}</h4>
    					</li>
    				{% endif %}
                    {% if total_discount > 0 and corder.tax_price == 0 %}
                        <li>
    						Sub-total:
    						<strong>{{ corder.subtotal_price | money }}</strong>
    					</li>
                        <li>
    						Discount:
    						<strong>
                                 -{{ total_discount | money }}
                            </strong>
    					</li>
    					<li>
    						<h4>Total: {{ corder.total_price | money }}</h4>
    					</li>
    				{% endif %}
                    {% if total_discount > 0 and corder.tax_price > 0 %}
                        <li>
    						Sub-total:
    						<strong>{{ corder.subtotal_price | money }}</strong>
    					</li>
                        <li>
    						Discount:
    						<strong>
                                 -{{ total_discount | money }}
                            </strong>
    					</li>
    					<!-- Show VAT only if VAT was charged -->
    					<li>
    						VAT (20%):
    						<strong>{{ corder.tax_price | money }}</strong>
    					</li>
    					<li>
    						<h4>Total: {{ corder.total_price | money }}</h4>
    					</li>
                    {% endif %}
				</ul>

				<br />

				<a href="<%= invoice_url %>" class="btn btn-primary btn-icon icon-left hidden-print">
					Invoice
					<i class="entypo-doc-text"></i>
				</a>

			</div>

		</div>

	</div>


	<div class="margin"></div>

	<div class="row">

		<div class="col-sm-6">
		    <button type="button" class="btn btn-blue btn-icon icon-left">
		        UPLOAD
		        <i class="entypo-upload"></i>
	        </button>
		    <button type="button" class="btn btn-blue btn-icon icon-left">
		        DOWNLOAD
		        <i class="entypo-download"></i>
		    </button>
		</div>

	</div>

</div>

{% else %}
	<script>window.location.href = '/account/login';</script>
{% endif %}