<div class="page-header">
	<h3 class="text-uppercase">ORDERS #123</h3>
</div>

<div class="invoice">
		    
	<div class="row">
	
		<div class="col-sm-12 invoice-left">
			<h4>Date: August 22, 2017 07:56 AM</h4>
			<h4>Status: <span class="badge badge-info">Unfulfilled</span></h4>
		</div>
	
	</div>
	
	<div class="margin"></div>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="text-center">#</th>
				<th width="50%">Service</th>
				<th>Unit price</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td class="text-center">1</td>
				<td>Clipping path</td>
				<td>$1.00</td>
				<td>10</td>
				<td class="text-right">$10.00</td>
			</tr>
			
			<tr>
				<td class="text-center">2</td>
				<td>Shadow effect</td>
				<td>$2.00</td>
				<td>10</td>
				<td class="text-right">$20.00</td>
			</tr>
		</tbody>
	</table>
	
	<div class="margin"></div>

	<div class="row">
	
		<div class="col-sm-6">
		
			<div class="invoice-left">
	
				<h4>SERVICE CONFIGURATION</h4>
				
				<ul class="list-unstyled">
					<li>
						Return file format: JPG
					</li>
					<!-- Show discount only if discount value is > 0 -->
					<li>
						Set margin: Yes
					</li>
					<!-- Show VAT only if VAT was charged -->
					<li>
						Resize image: Yes
					</li>
					<li>
						Image width: 1024px
					</li>
					<li>
						Image height: 1024px
					</li>
					<li>
						Message: Original message here.
					</li>
					<li>
						Additional comment: Comment during order goes here.
					</li>
				</ul>
				
			</div>
		
		</div>
		
		<div class="col-sm-6">
			
			<div class="invoice-right">
				
				<ul class="list-unstyled">
					<li>
						Sub-total: 
						<strong>$30.00</strong>
					</li>
					<!-- Show discount only if discount value is > 0 -->
					<li>
						Discount: 
						<strong>-$5.00</strong>
					</li>
					<!-- Show VAT only if VAT was charged -->
					<li>
						VAT (20%): 
						<strong>$5.00</strong>
					</li>
					<li>
						<h4>Total: $30.00</h4>
					</li>
				</ul>
				
				<br />
				
				<a href="javascript:window.print();" class="btn btn-primary btn-icon icon-left hidden-print">
					Invoice
					<i class="entypo-doc-text"></i>
				</a>
				
			</div>
			
		</div>
		
	</div>
	
	
	<div class="margin"></div>

	<div class="row">
	
		<div class="col-sm-6">
		    <button type="button" class="btn btn-blue btn-icon icon-left">
		        UPLOAD
		        <i class="entypo-upload"></i>
	        </button> 
		    <button type="button" class="btn btn-blue btn-icon icon-left">
		        DOWNLOAD
		        <i class="entypo-download"></i>
		    </button>
		</div>
		
	</div>
	
</div>
