<div class="page-header">
	<h3 class="text-uppercase">MY SHOPPING CART</h3>
</div>

<div class="member-entry">
		
	<!--<a href="extra-timeline.html" class="member-img">-->
	<!--	<img src="assets/images/member-1.jpg" class="img-rounded" />-->
	<!--	<i class="entypo-forward"></i>-->
	<!--</a>-->
	
	<div class="member-details">
		<h4>
			<a href="extra-timeline.html">Clipping path</a>
		</h4>
		<h4>
			<a href="extra-timeline.html">Shadow effect</a>
		</h4>
		
		<!-- Details with Icons -->
		<div class="row info-list">
			
			<div class="col-sm-9">
				Return file format: JPG<br />
                Set margin: true<br />
                Resize image: true<br />
                Image width: 100px<br />
                Image height: 100px<br />
                Message: Test<br />
                Additional comment: Test<br />
                <br />
                <button type="button" class="btn btn-default btn-icon btn-sm icon-left">
                    Edit
                    <i class="entypo-pencil"></i>
                </button>
			</div>
			
			<div class="col-sm-2">
			    <label>Quantity
				    <input type="text" class="form-control" id="field-1" placeholder="Quantity" value="10">
			    </label>
			</div>
			
			<div class="col-sm-1 text-right">
			    <a href="#">
			        <i class="entypo-cancel remove-cart-item"></i>
			    </a>
			</div>
			
		</div>
	</div>
	
</div>

<div class="row">
    <div class="col-sm-12 text-right">
        <h3>Subtotal: $10.00</h3>
        <p>VAT and discounts calculated at checkout.</p>
        <button type="button" class="btn btn-blue btn-icon btn-lg">
            Check Out
            <i class="entypo-right-open-mini"></i>
        </button>
    </div>
</div>
