<div class="page-header">
	<h3 class="text-uppercase">MY SHOPPING CART</h3>
</div>

{% if cart.item_count > 0 %}
<form action="/cart" method="post" >
<div class="member-entry">
	
	<!--<a href="extra-timeline.html" class="member-img">-->
	<!--	<img src="assets/images/member-1.jpg" class="img-rounded" />-->
	<!--	<i class="entypo-forward"></i>-->
	<!--</a>-->
	<div class="member-details">
	    {% for item in cart.items %}
		<h4>
			<a class="cart-img" href="{{ item.url }}" >
			    {{ item.product.title }}
			    {% unless item.variant.title contains 'Default' %}
                  <small>{{ item.variant.title }}</small>
                {% endunless %}
			</a>
			
		</h4>
		<input type="hidden" name="updates[]" value="{{ cart.items.first.quantity }}" class="cart-updates">
		{% endfor %}
		
		<!-- Details with Icons -->
		<div class="row info-list">
			
			<div class="col-sm-9">
				Return file format:{{ cart.attributes.return_file_format }} <br />
                Set margin: {{ cart.attributes.set_margin }}<br />
                Resize image: {{ cart.attributes.resize_image }}<br />
                Image width: {{ cart.attributes.image_width }}px<br />
                Image height: {{ cart.attributes.image_height }}px<br />
                Message: {{ cart.attributes.message }}<br />
                Additional comment: {{ cart.attributes.additional_comment }}<br />
                <br />
                <button type="button" class="btn btn-default btn-icon btn-sm icon-left" id="cart-edit-button" data-url="{{cart.attributes.source_url}}">
                    Edit
                    <i class="entypo-pencil"></i>
                </button>
			</div>
			
			<div class="col-sm-2">
			    <label>Quantity
				    <input type="number" class="form-control" min = "1" id="cart-quantity" placeholder="Quantity" value="{{cart.items.first.quantity}}" autocomplete="off">
			    </label>
			</div>
			
			<div class="col-sm-1 text-right">
			    <a href="#">
			        <i class="entypo-cancel remove-cart-item" ></i>
			    </a>
			</div>
			
		</div>
	</div>
	
</div>

<div class="row">
    <div class="col-sm-12 text-right">
        <h3>Subtotal: <span id="cart-subtotal">{{ cart.total_price | money }}</span></h3>
        <p>VAT and discounts calculated at checkout.</p>
        <button type="submit" name="checkout" class="btn btn-blue btn-icon btn-lg">
            Check Out
            <i class="entypo-right-open-mini"></i>
        </button>
    </div>
</div>
</form>
<script>
    var unit_price = ({{ cart.total_price }} / {{ cart.items.first.quantity }})*.01;
</script>

{% else %}
    <div class="member-entry">
        Your cart is currently empty.
    </div>
{% endif %}