/**
 *
 * Apply Here your Custom CSS
 *
*/

.navbar {
    min-height:57px !important
}
.navbar-brand {
    margin-top: -10px;
}
.top-up-label .col-xs-12.text-right {
    text-align: center;
}
.page-container .main-content {
    display: block !important;
}
/*.main-content a {
    color: #0072bc !important;
}
.main a {
    color: #373e4a !important;
}*/
/*.guest-layout .container {
    width: 500px !important;
}*/
.container{
    max-width: 850px;
}
.guest-layout .container{
    max-width: 650px;
}

.help-block {
    color: #949494;
}
.page-container.horizontal-menu header.navbar .navbar-nav > li:last-child > ul {
    right: 0;
    left: auto;
}


 [class^="col-"].fix-gutters,
 [class*=" col-"].fix-gutters {
  padding-right: 0px;
  padding-left: 0px;
}