<!-- Modal 1 (Modal account type)-->
<div class="modal fade" id="modal-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Available account types</h4>
			</div>
            
			<div class="modal-body">
			    <h5><b>Pay as you go</b></h5>
                <p>With the “Pay as you go account” you will be asked to pay at checkout for every order you place. Payment can be done via PayPal or by credit card and card detail is optionally saved from order to order to make it as easy as possible for you to pay.<br><br>
                
                Pay as you go is the default account level. All you need is a PayPal account and/or a credit card and you are ready to place your first order.</p><br>
                
                <h5><b>Pay as you go - with Wallet</b></h5>
                <p>With the “Pay as you go – with Wallet” you have an added wallet option to your pay as you go option. The wallet is used to deposit an appropriate amount of credit so you don’t have to use your credit card every time you place an order – simply use credits from your wallet.<br><br>
                
                Pay as you go – with Wallet is an added service that is free to use and provides great freedom to place an order anytime for the corporate user who do not want to use a credit card for every order.</p><br>
                
                <h5><b>Corporate monthly billing</b></h5>
                <p>With the “Corporate monthly billing account”, we will accommodate all your editing needs without you having to pay every time you check out. With the corporate monthly billing we collect and place all of your orders on one monthly invoice at the end of the month.<br><br>
                
                By having a Corporate monthly billing account you always have available access to getting images edited without having to spend time on paying with credit cards on each individual order – simply place the order and pay for all at the end of month.</p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>