<h3>MY QUOTATIONS</h3>
<%= link_to '<div class="btn btn-blue pull-right"><i class="entypo-plus"></i> NEW QUOTE</div>'.html_safe, dashboard_path, remote: true %> 

<table class="table table-striped">
	<thead>
		<tr>
			<th>Quotation No.</th>
			<th>Date</th>
			<th>Services</th>
			<th>Amount</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= link_to '#123456', dashboard_path %></td>
			<td>30 May 2016</td>
			<td>Clipping path, Drop shadow</td>
			<td>£20.50</td>
			<td><div class="label label-info">New</div></td>
		</tr>
		<tr>
			<td><%= link_to '#123457', dashboard_path %></td>
			<td>31 May 2016</td>
			<td>Clipping path, Drop shadow</td>
			<td>£20.50</td>
			<td><div class="label label-success">Ready</div></td>
		</tr>
	</tbody>
</table>
