<div class="page-header">
	<h3 class="text-uppercase">MY QUOTATIONS</h3>
</div>

<a href="<%=  new_quotation_path %>?token={% include 'customer_id_hash' %}&hash={% include 'customer_hash' %}&customer_id=4281588171">
    <div class="btn btn-blue"><i class="entypo-plus"></i> NEW QUOTE</div>
</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Quotation No.</th>
			<th>Date</th>
			<th>Services</th>
			<th>Amount</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	    <% @quotations.each do |quotation| %>
    		<tr>
    			<td>#<%= link_to quotation.id, dashboard_path %></td>
    			<td><%= quotation.created_at %></td>
    			<td>...</td>
    			<td>...</td>
    			<td><div class="label label-info">New</div></td>
    		</tr>
		<% end %>
	</tbody>
</table>