/* 
    assets/stylesheets/dashboard.scss Created by AM...
*/
#modal-1 {
    #delete-template-result{
        display: none;
    }
    
    #edit_template_form{
        display: none;
        
        #update_template_result{
            display: none;
        }
    }
    
    #back_button{
        margin-bottom: 15px;
    }
    
    img.template_sample_image{
        margin: 0 auto;
    }
    
    .loading {
      background: transparent url('loading_spinner.gif')  center no-repeat ;
      background-size : auto 100%;
      width: 200px;
      height: 200px;
    }
    
    .unavailable-image{
        text-align: center;
        i{
            font-size: 80px;
        }
    }
    
}

#modal-2 {
    .modal-title{
        margin: 5px;
    }
    .modal-footer a{
        margin: 0 5px;
    }
    #configuration-panel{
        margin-top: 20px;
    }
    .modal-body, .panel-body{
        padding: 30px;
    }
    .file-format-description{
        padding-left: 20px;
    }
    #template-result{
        display: none;
    }
    .upload-template-image{
        display: none;
    }
    img.template_sample_image{
        margin: 0 auto;
    }
    .loading {
      background: transparent url('loading_spinner.gif')  center no-repeat ;
      background-size : auto 100%;
      width: 200px;
      height: 200px;
    }
    
    .unavailable-image{
        text-align: center;
        i{
            font-size: 80px;
        }
    }
}

#modal-3{
    z-index: 20000;
    background: rgba(0,0,0,.5);
    .modal-dialog{
        margin: 50px auto;
    }
    #rename-template-result{
        display: none;
    }
    .modal-footer a{
        margin: 0 10px;
    }
}

#modal-4{
    z-index: 20000;
    background: rgba(0,0,0,.5);
    .modal-dialog{
        margin: 50px auto;
    }
    .modal-body{
        padding: 15px 35px;
    }
    .modal-footer a{
        margin: 0 10px;
    }
}

#draft_delete_alert{
    display: none;
}