.radio-with-image label > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.radio-with-image label > input + img { /* IMAGE STYLES */
  cursor:pointer;
  border:1px solid transparent;
}
.radio-with-image label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  border: 3px solid #688bd1;
}
.radio-with-image figure {
    border: 1px dotted #b3c5e8;
}
.radio-with-image .radio label {
  padding-left: 0px !important;
}
.radio-with-image .btn {
    white-space: normal;
}
.img-thumbnail {
  margin: 10px 0px;
}
.more_sample_image {
  position: relative;
  /*max-width: 366px;*/
}
.more_sample_image .before {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.more_sample_image .after:hover + .before, .before:hover {
    display: block;
}
.form-search {
    background: #f9f9f9;
    padding: 16px 0px 16px 0px;
    border: 1px solid #e6e6e6;
}
.col-btn-search {
  padding-right:0px !important;
  padding-left: 10px;
}
.col-btn-search > select {
  width:100%;
  border-radius:0px;
}
.col-field-search {
  padding-left: 10px;
  padding-right: 0px;
}
.col-searchform {
  margin-top:12px;
}
.btn-gold:active:hover, .btn-gold:active:focus, .btn-gold {
  background-color: #ffdf6d !important;
}
.drpSearch {    padding-left: 0px;
  padding-left: 3px;
  background: #f3f3f3;
  font-size: 11px;
  padding-right: 0px;
}
    
.col-searchform > form {
    float: right;
    margin-right: 12%;
}
@media screen and (max-width:425px){
  .btnSearch{
    margin-top:10px;
  }
  .col-searchform > form {
    float: right;
    margin-right: 0%;
    margin-left: 7%;
  }
  .col-btn-search {
    padding-left: 0px;
  }
}